@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit-Regular.ttf);
}

body {
  font-family: "Outfit";
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
}

.container {
  background: hsl(0, 0%, 100%);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  margin: 50px auto;
  text-align: center;
  padding: 20px;
}
.container h1 {
  font-size: 1.5rem;
}
.container p {
  font-size: 1rem;
}

img {
  width: 90%;
  /* min-width: 230px; */
  border-radius: 15px;
}
